.header {
    background: #4F5565;
    min-height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    /* background-position: left center; */
    padding: 1rem;
}